.coment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: red;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    padding-block: 20px;
    
}