.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  input{
    width: 100px;
    margin-inline: auto;
  }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 370px;
      padding: 7px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.8px;
      border-radius: 5px;
      border: 0.5px solid;
      color: black;
      background: white;
      font-weight: 500;
      font-size: 13px;
      transition: 0.8s;
    }
  }
  // button:hover {
  //   transform: scale(1.05);
// }
