body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 70px;
}
/* HEADER */
.bg {
  width: 70%;
  height: 500px;
  background-image: url("./components/layout/image/tour-20.png");
  background-size: cover;
  -webkit-box-shadow: inset 200px 93px 300px 0px rgba(222, 242, 231, 1);
  -moz-box-shadow: inset 200px 93px 300px 0px rgba(222, 242, 231, 1);
  box-shadow: inset 200px 93px 300px 0px rgba(222, 242, 231, 1);
}
/* HEADER */
